$_main_bg_color: #FFFF;
$_light_orang_color: #FAB50F;
$_orang_color: #E76811;
$_coral_color: #EE689C;
$_black_color: #000000;
$_violet_color: #9327E6;
$_white_color: #FFFF;
$_padding_mobile: 16px;
$_padding_desktop: 108px;
$_section_padding_mobile: 30px;
$_section_padding_desktop: 60px;
$_background: rgba(21, 21, 106, 0.80);
$_header_text_gradient: linear-gradient(180deg, #FAB50F 0%, #E76811 93.1%);
$_text_gradient: linear-gradient(90deg, #EE689C 0%, #9327E6 100%);


$hero-title-stroke-color: #FCFFFE;
$hero-title-stroke-width: 3;