<section class="about-game" id="about-game">
  <div class="about-game_container container">
    <h2 class="title-h2">About the Game</h2>
    <div class="about-game_content">
      <div class="about-game_text-container">
        <p class="about-game_text">
          <span>Hexa Diamonds</span> is a visually stunning and immersive puzzle
          game designed to challenge your mind while providing a relaxing
          experience. Your goal is to arrange dazzling, multi-colored diamond
          pieces within a hexagonal grid, strategically placing them to complete
          patterns and maximize points. With no time limits and endless
          possibilities, Hexa Diamonds allows you to play at your own pace,
          making it the perfect game to unwind after a long day or sharpen your
          problem-solving skills. The intuitive mechanics ensure that both
          casual players and puzzle enthusiasts will find the game enjoyable and
          rewarding.
        </p>
        <p class="about-game_text">
          As you progress, you'll encounter increasingly complex puzzles, unlock
          unique diamond shapes, and discover mesmerizing visual effects that
          make every move satisfying. Whether you're aiming for high scores,
          mastering intricate strategies, or simply enjoying the stunning
          graphics, Hexa Diamonds offers an engaging and stress-free gaming
          experience for all ages. Are you ready to master the art of hexagonal
          brilliance?
        </p>
        <img
          class="about-second-img"
          src="../img/about/about-second-img.png"
          alt="about-game-img"
        />
      </div>
      <div class="about-game-img-container">
        <picture>
          <source
            srcset="../img/about/about-mobile.jpg"
            media="(max-width: 1440px)"
          />
          <img src="../img/about/about-pc.jpg" alt="about-game-img" />
        </picture>
      </div>
    </div>
  </div>
</section>
