<section class="features" id="features">
  <div class="features_container container">
    <h2 class="title-h2">Game Features</h2>
    <div class="features-content">
      <ul class="feature-content-left">
        <li class="feature-content-left-item">
          <img src="./img/features/features-1.png" alt="features diamond 1" />
          <div class="features-text-content">
            <h3 class="features-h3-title">Match & Clear</h3>
            <p class="features-text">
              Complete lines to remove them from the board
            </p>
          </div>
        </li>
        <li class="feature-content-left-item">
          <img src="./img/features/features-2.png" alt="features diamond 2" />
          <div class="features-text-content">
            <h3 class="features-h3-title">Multiple Game Modes</h3>
            <p class="features-text">
              Standard, time attack, and endless play.
            </p>
          </div>
        </li>
        <li class="feature-content-left-item">
          <img src="./img/features/features-3.png" alt="features diamond 3" />
          <div class="features-text-content">
            <h3 class="features-h3-title">Daily Tasks & Rewards</h3>
            <p class="features-text">Complete challenges to unlock bonuses.</p>
          </div>
        </li>
        <li class="feature-content-left-item">
          <img src="./img/features/features-4.png" alt="features diamond 4" />
          <div class="features-text-content">
            <h3 class="features-h3-title">Power-Ups & Boosters</h3>
            <p class="features-text">
              Use special tools to keep the game going.
            </p>
          </div>
        </li>
        <li class="feature-content-left-item">
          <img src="./img/features/features-5.png" alt="features diamond 5" />
          <div class="features-text-content">
            <h3 class="features-h3-title">Relaxing Soundtrack</h3>
            <p class="features-text">
              A calming musical backdrop for focused gameplay.
            </p>
          </div>
        </li>
      </ul>
      <div class="feature-content-right">
        <img src="./img/features/features-cat.jpg" alt="features cat" />
      </div>
    </div>
  </div>
</section>
