<section class="hero">
  <h2 class="visually-hidden">Hexa Diamonds</h2>
  <div class="hero_container container">
    <div class="hero-inner-left">
      <img
        class="hero-logo"
        src="./img/hero/logo-diamond.png"
        alt="logo-diamond"
      />
      <button class="hero-button" type="button">
        <a href="https://play.google.com/store/apps/details?id=com.remivision.HexaDiamonds" target="_blank" rel="noopener noreferrer"
          ><img src="./img/hero/google-play-btn.png" alt="google-play"
        /></a>
      </button>
    </div>
    <div class="hero-inner-right">
      <div class="diamonds-group">
        <img
          class="diamonds-yellow"
          src="./img/hero/yellow-diamond.png"
          alt="yellow-diamond"
        />
        <img
          class="diamonds-red"
          src="./img/hero/red-diamond.png"
          alt="red-diamond"
        />
        <img
          class="diamonds-blue"
          src="./img/hero/blue-diamond.png"
          alt="blue-diamond"
        />
      </div>
      <img
        class="hero-mobile-cat"
        src="./img/hero/hero-mobile-cat.png"
        alt="hero-image"
      />
    </div>
  </div>
</section>
