<section class="how-play" id="how-play">
  <div class="how-play_container container">
    <h2 class="title-h2">How to play</h2>
    <div class="how-play-content">
      <div class="how-play-content-left">
        <img src="./img/how-play/picture-left.png" alt="picture left" />
        <img
          class="diamond-left-1"
          src="./img/how-play/diamond-left-1.png"
          alt="diamond 1"
        />
        <img
          class="diamond-left-2"
          src="./img/how-play/diamond-left-2.png"
          alt="diamond 2"
        />
        <img
          class="diamond-left-3"
          src="./img/how-play/diamond-left-3.png"
          alt="diamond 3"
        />
        <img
          class="diamond-left-4"
          src="./img/how-play/diamond-left-4.png"
          alt="diamond 4"
        />
      </div>
      <ul class="how-play-content-center">
        <li class="how-play-content-center-item">
          <h3>Drag & Place</h3>
          <p>Position hexagonal diamond pieces on the board.</p>
        </li>
        <li class="how-play-content-center-item">
          <h3>Form Complete Lines</h3>
          <p>Arrange pieces strategically to clear space.</p>
        </li>
        <li class="how-play-content-center-item">
          <h3>Use Boosters</h3>
          <p>Activate special power-ups to break tough spots.</p>
        </li>
        <li class="how-play-content-center-item">
          <h3>Compete & Improve</h3>
          <p>Beat your best score and climb the ranks.</p>
        </li>
        <li class="how-play-content-center-item">
          <h3>Enjoy the Challenge</h3>
          <p>The game evolves with new difficulty levels!</p>
        </li>
      </ul>
      <div class="how-play-content-right">
        <img src="./img/how-play/cat.png" alt="cat" />
        <img
          class="diamond-right-1"
          src="./img/how-play/diamond-right-1.png"
          alt="diamond 1"
        />
        <img
          class="diamond-right-2"
          src="./img/how-play/diamond-right-2.png"
          alt="diamond 2"
        />
        <img
          class="diamond-right-3"
          src="./img/how-play/diamond-right-3.png"
          alt="diamond 3"
        />
        <img
          class="diamond-right-4"
          src="./img/how-play/diamond-right-4.png"
          alt="diamond 4"
        />
      </div>
    </div>
  </div>
</section>
