<section class="unique">
  <div class="unique_container container">
    <h2 class="title-h2">Our Uniqueness</h2>
    <div class="swiper swiper-uniqueness">
      <div class="swiper-wrapper swiper-wrapper-style">
        <div class="swiper-slide swiper-slide-style">
          <div class="uniqueness-img-box">
            <img src="./img/uniquness/uniqueness-1.jpg" alt="uniqueness-1" />
          </div>
          <p class="unique-text">
            <span>Hexagonal Grid Mechanics:</span> A fresh twist on classic
            puzzle games.
          </p>
        </div>
        <div class="swiper-slide swiper-slide-style">
          <div class="uniqueness-img-box">
            <img src="./img/uniquness/uniqueness-2.jpg" alt="uniqueness-2" />
          </div>
          <p class="unique-text">
            <span>Satisfying Visual Effects:</span> Each move feels rewarding
            with smooth animations.
          </p>
        </div>
        <div class="swiper-slide swiper-slide-style">
          <div class="uniqueness-img-box">
            <img src="./img/uniquness/uniqueness-3.jpg" alt="uniqueness-3" />
          </div>
          <p class="unique-text">
            <span>Dynamic Challenges:</span> Increasing difficulty levels to
            keep you engaged.
          </p>
        </div>
        <div class="swiper-slide swiper-slide-style">
          <div class="uniqueness-img-box">
            <img src="./img/uniquness/uniqueness-4.jpg" alt="uniqueness-4" />
          </div>
          <p class="unique-text">
            <span>Play Anytime, Anywhere:</span> Enjoy offline gameplay on the
            go.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
