.about-game{
  margin-bottom: 80px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 161px;
  }
}

.about-game_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  @media screen and (min-width: 1440px) {
    gap: 36px;
  }
}

.about-game_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  @media screen and (min-width: 1440px) {
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
  }
}

.about-game_text {
  max-width: 335px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #fcefd1;
  @media screen and (min-width: 1440px) {
    max-width: 630px;
  }
}

.about-game_text > span {
  color: #ffd700;
  font-weight: 700;
}

.about-game-img-container{
  width: 375px;
  overflow: hidden;
  border-radius: 16px;
  order: -1;
  @media screen and (min-width: 1440px) {
    width: 630px;
    order: 1;
  }
}

.about-game-img-container > picture{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-game_text-container{
  position: relative;
}

.about-second-img{
  display: none;
  width: 239px;
  height: 210px;
  @media screen and (min-width: 1440px) {
    display: block;
    position: absolute;
    bottom: -225px;
    right: -67px;
  }
}
