.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  width: 100%;
  transition: background-color 300ms ease;
}

.header.scroll{
  background-color: #8215ff7d;
}

.header_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.header-nav-pc {
  display: none;
}

.header-nav-mobile-button {
  display: block;
  width: 50px;
  height: 30px;
}

.header-nav-mobile-button > img {
  width: 100%;
}

.header-nav-mobile {
  position: fixed;
  top: 0;
  right: -1900px;
  pointer-events: none;
  opacity: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: #ffd700;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: right 300ms ease;
}

.header-nav-mobile-button-close{
  position: absolute;
  top: 38px;
  right: 22px;
  width: 59px;
  height: 59px;
  transition: transform 300ms ease;
}

.header-nav-mobile-button-close:hover,
.header-nav-mobile-button-close:focus,
.header-nav-mobile-button-close:active {
  transform: scale(1.05);
}

.header-nav-mobile.is-open {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  pointer-events: painted;
  opacity: 1;
}

.header-nav-mobile-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 269px;
  padding-right: 78px;
  padding-left: 58px;
  gap: 30px;
  background-color: #5b2d90;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.header-nav-mobile-item > a{
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #fcefd1;
}

.header-nav-mobile-item {
  transition: transform 300ms ease;
}

.header-nav-mobile-item:hover,
.header-nav-mobile-item:focus,
.header-nav-mobile-item:active {
  transform: scale(1.05);
}


@media (min-width: 1440px) {
  .header-nav-pc {
    display: block;
    width: 100%;
  }

  .header_container {
    padding: 32px 80px;
  }

  .header-nav-mobile {
    display: none;
  }

  .header-nav-mobile-button {
    display: none;
  }

  .header-nav-pc-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-nav-pc-item > a {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #fcefd1;
  }

  .header-nav-pc-item {
    transition: transform 300ms ease;
  }

  .header-nav-pc-item:hover,
  .header-nav-pc-item:focus,
  .header-nav-pc-item:active {
    transform: scale(1.05);
  }
}
