.hero {
  background-image: url(../img/hero/hero-mobile-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  width: 100%;
  margin-bottom: 80px;
  @media (min-width: 1440px) {
    background-image: url(../img/hero/hero-img.png);
    margin-bottom: 140px;
  }
}

.hero_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  @media (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
  }
}

.hero-inner-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-mobile-cat {
  display: block;
  @media (min-width: 1440px) {
    display: none;
  }
}

.diamonds-group {
  display: none;
  @media (min-width: 1440px) {
    display: block;
  }
}

.hero-button > img {
  width: 243px;
  height: 70px;
}

.hero-button {
  margin-bottom: 28px;
}

.hero-logo {
  width: 335px;
  height: 295px;
  margin-bottom: 8px;
  @media (min-width: 1440px) {
    width: 443px;
    height: 391px;
    margin-bottom: 44px;
  }
}

.diamonds-yellow {
  width: 86px;
  height: 107px;
  transform: rotate(-20deg);
  position: absolute;
  top: 160px;
  right: 160px;
}

.diamonds-red {
  width: 148px;
  height: 155px;
  transform: rotate(-41deg);
  position: absolute;
  top: 290px;
  right: 172px;
}

.diamonds-blue {
  width: 206px;
  height: 194px;
  position: absolute;
  top: 525px;
  right: 277px;
}
