.reviews {
  margin-bottom: 80px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 140px;
  }
}

.reviews_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  @media screen and (min-width: 1440px) {
    gap: 36px;
  }
}

.swiper-reviews {
  width: 335px;

  @media screen and (min-width: 1440px) {
    width: 100%;
  }
}

.swiper-wrapper-reviews {
  display: flex;
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.swiper-slide-review {
  width: 335px;
  min-width: 335px;
  max-width: 335px;
  height: 231px;
  min-height: 231px;
  max-height: 231px;
  background-color: #8657bb;
  border-radius: 16px;
  padding: 22px 25px;
  @media screen and (min-width: 1440px) {
    width: 414px;
    min-width: 414px;
    max-width: 414px;
    height: 213px;
    min-height: 213px;
    max-height: 213px;
  }
}

.review-rating {
  width: 100px;
  height: 16px;
  margin-bottom: 16px;
}

.swiper-slide-review > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fffcfc;
  margin-bottom: 18px;
}

.review-author{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.review-author-img{
  overflow: hidden;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.review-author-img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-author > p{
  font-weight: 700;
font-size: 20px;
line-height: 1.5;
color: #f8d909;
}

